:root{
    --primary-color:  #0d00fd;
    --secondary : rgb(11, 25, 34);
    --accent : rgb(29, 150, 210);
    --black: #000;
    --white: #fff;
}
*{
    margin: 10px;
    padding:0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
:-webkit-scrollbar{
    display:none;
}

/**********************************  header  ****************************************************/
.container header  {
    margin:5px;
    height:20vh;   
    outline: 2px dotted rgb(55, 69, 176);
}
header  nav .logo {
    margin-bottom: 10%;
}
header nav .menu   {
   width:200px ; 
}
header .menu{
    float:right ;
}   
header .menu .menu-icon {
     display:inline-block;
     margin: 60px 50px 0 40px;
}     
header .menu .menu-icon svg {
   margin-inline:inherit;
}  


/********************************** End of  header  **************************************************/


/**********************************  banner Section  ****************************************************/
.banner{
padding:10px;

}
.carousel-wrapper{
    border:2px solid coral;
   width: 1000px;
   height: 600px;
   position:relative;
   overflow:hidden;
   overflow-y: hidden;
   padding: 3px;
}
.carousel-inner img {
    margin-top:-2rem;
    width:1200px ;
    height:600px;
}
.carousel-inner img:active {
    display:inline-block;
}
.prev , .next{
    float:left;
    cursor:pointer;
    margin-top:130px;
}
.next {
    position:relative;
    margin-right:45px;
    z-index: 100;
    border:2px solid
}
.previous {
   
    position:relative;
    margin-right:-45px;
    z-index: 100;
    /* border:3px solid yellow; */

}  



/**********************************  End of Section  ****************************************************/