@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
:root{
    --primary-color:  #0d00fd;
    --secondary : rgb(11, 25, 34);
    --accent : rgb(29, 150, 210);
    --black: #000;
    --white: #fff;
}
*{
    margin: 10px;
    padding:0;
    box-sizing: border-box;

}
::-webkit-scrollbar{
    display: none;
}
.container header  {
    margin:5px;
    height:20vh;   
    outline: 2px dotted rgb(55, 69, 176);
}
header nav .menu   {
   border:2px solid black;
   width:200px ;
   display:inline-block;
}
   
/* .menu-icon svg {
    float: left;
} */
